<table style="width:100%">
    <tr>
        <th>apic_versions</th>
        <th>ndo_versions</th>
        <th>provider_aci_versions</th>
        <th>provider_mso_versions</th>
        <th>terraform_versions</th>
    </tr>
    <tr>
        <td>5.2</td>
        <td>5.1</td>
        <td>5.0</td>
        <td>4.X</td>
    </tr>
    <tr>
        <td>4.X</td>
        <td>3.X</td>
    </tr>
    <tr>
        <td>2.1.0</td>
        <td>2.0.1</td>
        <td>2.0.0</td>
    </tr>
    <tr>
        <td>1.1.8</td>
        <td>1.1.7</td>
        <td>1.1.6</td>
        <td>1.1.5</td>
    </tr>
</table>