#____________________________________________________________
#
# Global - Variables
#____________________________________________________________

{%- for k, v in keys.items() %}
  {%- if k == 'class_type' or k == 'controller_type' %}
  {%- elif v == None or k == 'template_type' %}
  {%- elif v | int(-1) != -1 %}
{{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
{{ k }} = {{ v }}
  {%- else %}
{{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
