#______________________________________________
#
# {{ header }}
#______________________________________________

{{ template_type }} = {
  "default" = {
    clear_passphrase                  = "{{ clear_passphrase }}"
    enable_encryption                 = "{{ enable_encryption }}"
    passphrase_key_derivation_version = "{{ passphrase_key_derivation_version }}"
  }
}
