
  {{ keys['node_id'] }} = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'node_id' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'switch_name' or k == 'switch_model' %}
  {%- elif k == 'vpc_domain_id' or k == 'vpc_name' %}
  {%- elif v == None %}
  {%- elif v is iterable and (v is not string and v is not mapping) %}
    {{ k }} = [
    {%- for item in v %}
      {
      {%- for key, value in item.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif 'addressing' in k %}
    {{ k }} = [
      {
    {%- for key, value in v.items() %}
      {%- if value == None %}
      {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
      {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
      {%- else %}
        {{ key }} = "{{ value }}"
      {%- endif %}
    {%- endfor %}
      }
    ]
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
