
  "default" = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'name' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'console_realm' or k == 'default_realm' or k == 'fallback_domain_avialability' %}
  {%- elif k == 'use_icmp_reachable_providers_only' %}
  {%- elif k == 'console_login_domain' %}
    console_authentication = [
      {
    {%- if keys['console_login_domain'] == None %}
        login_domain = ""
    {%- else %}
        login_domain = "{{ keys['console_login_domain'] }}"
    {%- endif %}
        realm        = "{{ keys['console_realm'] }}"
      }
    ]
  {%- elif k == 'default_login_domain' %}
    default_authentication = [
      {
        fallback_domain_avialability = "{{ keys['fallback_domain_avialability'] }}"
    {%- if keys['default_login_domain'] == None %}
        login_domain = ""
    {%- else %}
        login_domain = "{{ keys['default_login_domain'] }}"
    {%- endif %}
        realm                        = "{{ keys['default_realm'] }}"
      }
    ]
  {%- elif k == 'remote_user_login_policy' %}
    icmp_reachability = [
      {
        retries                           = 1
        timeout                           = 5
        use_icmp_reachable_providers_only = {{ keys['use_icmp_reachable_providers_only'] }}
      }
    ]
    {{ k }} = "{{ v }}"
  {%- elif k == 'format' %}
    {%- if v == None %}
    {%- else %}
    {{ k }} = "{{ v }}"
    {%- endif %}
    include_types = [
      {
      {%- for key, value in keys.items() %}
        {%- if key == 'audit_logs' or key == 'events' or key == 'faults' or key == 'session_logs' %}
        {{ key }} = {{ value }}
        {%- endif %}
      {%- endfor %}
      }
    ]
  {%- elif v == None %}
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- elif k == 'remote_destinations' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
