
  "{{ keys['domain'][0]['name'] }}" = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'name' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'enhanced_lag_policy' %}
  {%- elif v == None %}
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- elif k == 'controllers' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif key == 'domain_name' %}
        {%- elif value is iterable and (value is not string and value is not mapping) %}
        {{ key }} = [
          {%- for item in value %}
            {%- if not loop.last %}
          "{{ item }}",
            {%- else %}
          "{{ item }}"
            {%- endif %}
          {%- endfor %}
        ]
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif k == 'credentials' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif key == 'domain_name' %}
        {%- elif value is iterable and (value is not string and value is not mapping) %}
        {{ key }} = [
          {%- for item in value %}
            {%- if not loop.last %}
          "{{ item }}",
            {%- else %}
          "{{ item }}"
            {%- endif %}
          {%- endfor %}
        ]
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif k == 'domain' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value is iterable and (value is not string and value is not mapping) %}
        {{ key }} = [
          {%- for item in value %}
            {%- if not loop.last %}
          "{{ item }}",
            {%- else %}
          "{{ item }}"
            {%- endif %}
          {%- endfor %}
        ]
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif k == 'vswitch_policy' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif key == 'domain_name' %}
        {%- elif value is iterable and (value is not string and value is not mapping) %}
        {{ key }} = [
          {%- for item in value %}
            {%- if not loop.last %}
          "{{ item }}",
            {%- else %}
          "{{ item }}"
            {%- endif %}
          {%- endfor %}
        ]
        {%- elif key == 'cdp_interface_policy' %}
        {{ key }} = "{{ value }}"
          {%- if keys['enhanced_lag_policy'] | length > 0 %}
        enhanced_lag_policy = [
            {%- for x in keys['enhanced_lag_policy'] %}
          {
              {%- for a, b in x.items() %}
                {%- if value == None %}
                {%- elif value | int(-1) != -1 %}
            {{ a }} = {{ b }}
                {%- else %}
            {{ a }} = "{{ b }}"
                {%- endif %}
              {%- endfor %}
          }
            {%- endfor %}
        ]
          {%- endif %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
