
  "{{ keys['name'] }}" = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'name' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'vlan_group1_allocation' or k == 'vlan_group2' or k == 'vlan_group2_allocation' %}
  {%- elif v == None %}
  {%- elif 'vlan_group' in k %}
  encap_blocks = {
    "1" = {
    {%- if keys['vlan_group1_allocation'] %}
      allocation_mode = "{{ keys['vlan_group1_allocation'] }}"
    {%- else %}
      allocation_mode = "inherit"
    {%- endif %}
      role            = "external"
      vlan_range      = "{{ keys['vlan_group1'] }}"
    {%- if keys['vlan_group2'] %}
    },
    "2" = {
      {%- if keys['vlan_group1_allocation'] %}
      allocation_mode = "{{ keys['vlan_group2_allocation'] }}"
      {%- else %}
      allocation_mode = "inherit"
      {%- endif %}
      role            = "external"
      vlan_range      = "{{ keys['vlan_group2'] }}"
    }
    {%- else %}
    }
    {%- endif %}
  }
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
