
  "{{ keys['name'] }}" = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'name' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'audit_logs' or k == 'events' or k == 'faults' or k == 'session_logs' %}
  {%- elif v == None %}
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- elif k == 'contact' %}
    {%- if v == None %}
    {%- else %}
    {{ k }} = "{{ v }}"
    {%- endif %}
    include_types = [
      {
      {%- for key, value in keys.items() %}
        {%- if key == 'audit_logs' or key == 'events' or key == 'faults' or key == 'session_logs' %}
        {{ key }} = {{ value }}
        {%- endif %}
      {%- endfor %}
      }
    ]
  {%- elif k == 'snmp_client_groups' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value is mapping %}
        clients = [
          {%- for i in value.keys() %}
          {
            address = "{{ i }}"
            {%- if not loop.last %}
          },
            {%- else %}
          }
            {%- endif %}
          {%- endfor %}
        ]
        {%- elif value is iterable and (value is not string and value is not mapping) %}
        {{ key }} = [
          {%- for item in value %}
            {%- if not loop.last %}
          "{{ item }}",
            {%- else %}
          "{{ item }}"
            {%- endif %}
          {%- endfor %}
        ]
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif k == 'snmp_communities' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif k == 'snmp_destinations' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- elif k == 'users' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
