
  "{{ keys['name'] }}" = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'name' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'audit_logs' or k == 'events' or k == 'faults' or k == 'session_logs' %}
  {%- elif k == 'console_severity' or k == 'local_severity' %}
  {%- elif k == 'console_admin_state' %}
    console_destination = [
      {
        admin_state = "{{ keys['console_admin_state'] }}"
        severity    = "{{ keys['console_severity'] }}"
      }
    ]
  {%- elif k == 'local_admin_state' %}
    local_file_destination = [
      {
        admin_state = "{{ keys['local_admin_state'] }}"
        severity    = "{{ keys['local_severity'] }}"
      }
    ]
  {%- elif k == 'format' %}
    {%- if v == None %}
    {%- else %}
    {{ k }} = "{{ v }}"
    {%- endif %}
    include_types = [
      {
      {%- for key, value in keys.items() %}
        {%- if key == 'audit_logs' or key == 'events' or key == 'faults' or key == 'session_logs' %}
        {{ key }} = {{ value }}
        {%- endif %}
      {%- endfor %}
      }
    ]
  {%- elif v == None %}
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- elif k == 'remote_destinations' %}
    {{ k }} = [
    {%- for i in v %}
      {
      {%- for key, value in i.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
      {%- if not loop.last %}
      },
      {%- else %}
      }
      {%- endif %}
    {%- endfor %}
    ]
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
