
  "{{ keys['name'] }}" = {
{%- for k, v in keys.items() %}
  {%- if k == 'controller_type' or k == 'class_type' or k == 'name' %}
  {%- elif k == 'policy_type' or k == 'site_group' or k == 'template_type' %}
  {%- elif k == 'tenant' %}
  {%- elif v == None %}
  {%- elif v | int(-1) != -1 %}
    {{ k }} = {{ v }}
  {%- elif v == 'false' or v == 'true' %}
    {{ k }} = {{ v }}
  {%- elif v is mapping %}
    {{ k }} = [
      {
    {%- for key, value in v.items() %}
      {%- if value == None %}
      {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
      {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
      {%- elif key == 'names' %}
        {{ key }} = [
        {%- for item in value %}
          "{{ item }}",
        {%- endfor %}
        ]
      {%- elif value is mapping %}
        {{ key }} = [
          {
        {%- for keys, values in value.items() %}
          {%- if values == None %}
          {%- elif values | int(-1) != -1 %}
            {{ keys }} = {{ values }}
          {%- elif values == 'false' or values == 'true' %}
            {{ keys }} = {{ values }}
          {%- elif values is mapping %}
            "{{ keys }}" = [
              {
            {%- for a, b in values.items() %}
              {%- if b == None %}
              {%- elif b | int(-1) != -1 %}
                {{ a }} = {{ b }}
              {%- elif b == 'false' or b == 'true' %}
                {{ a }} = {{ b }}
              {%- elif b is mapping %}
                "{{ a }}" = [
                  {
                {%- for c, d in b.items() %}
                  {%- if d == None %}
                  {%- elif d | int(-1) != -1 %}
                    {{ c }} = {{ d }}
                  {%- elif d == 'false' or d == 'true' %}
                    {{ c }} = {{ d }}
                  {%- endif %}
                {%- endfor %}
                  }
                ]
              {%- else %}
                {{ a }} = "{{ b }}"
              {%- endif %}
            {%- endfor %}
              }
            ]
          {%- else %}
            {{ keys }} = "{{ values }}"
          {%- endif %}
        {%- endfor %}
          }
        ]
      {%- elif value is iterable and (value is not string and value is not mapping) %}
        {{ key }} = [
          {
        {%- for item in value %}
          {%- for keys, values in item.items() %}
            {%- if values == None %}
            {%- elif values | int(-1) != -1 %}
            {{ keys }} = {{ values }}
            {%- elif values == 'false' or values == 'true' %}
            {{ keys }} = {{ values }}
            {%- else %}
            {{ keys }} = "{{ values }}"
            {%- endif %}
          {%- endfor %}
        {%- endfor %}
          }
        ]
      {%- else %}
        {{ key }} = "{{ value }}"
      {%- endif %}
    {%- endfor %}
      }
    ]
  {%- elif v is iterable and (v is not string and v is not mapping) %}
    {{ k }} = [
      {
    {%- for item in v %}
      {%- for key, value in item.items() %}
        {%- if value == None %}
        {%- elif value | int(-1) != -1 %}
        {{ key }} = {{ value }}
        {%- elif value == 'false' or value == 'true' %}
        {{ key }} = {{ value }}
        {%- elif value is iterable and (value is not string and value is not mapping) %}
          {{ key }} = [
          {%- for s in value %}
            {%- if not loop.last %}
              "{{ s }}",
            {%- else %}
              "{{ s }}"
            {%- endif %}
          {%- endfor %}
          ]
        {%- else %}
        {{ key }} = "{{ value }}"
        {%- endif %}
      {%- endfor %}
    {%- endfor %}
      }
    ]
  {%- else %}
    {{ k }} = "{{ v }}"
  {%- endif %}
{%- endfor %}
  }
